<app-dash></app-dash>
<div class="container">
    <div class="row">
        <div class="col col-12 col-sm-12 col-md-12 col-lg-12 col-xl-12 col-xxl-12">
            <div class="row g-3">
                <div class="col col-12 col-sm-6 col-md-6 col-lg-4 col-xl-4 col-xxl-3">
                    <label for="" class="form-label">Name</label>
                    <input type="text" class="form-control"name="name" [(ngModel)]="name">
                </div>
                <div class="col col-12 col-sm-6 col-md-6 col-lg-4 col-xl-4 col-xxl-3">
                    <label for="" class="form-label">Roll Number</label>
                    <input type="text" class="form-control" name="roll_no" [(ngModel)]="roll_no">
                </div>
                <div class="col col-12 col-sm-6 col-md-6 col-lg-4 col-xl-4 col-xxl-3">
                    <label for="" class="form-label">Admision Number</label>
                    <input type="text" class="form-control"name="college" [(ngModel)]="college">
                </div>
                <div class="col col-12 col-sm-6 col-md-6 col-lg-4 col-xl-4 col-xxl-3">
                    <label for="" class="form-label">College</label>
                    <input type="text" class="form-control"name="college" [(ngModel)]="college">
                </div>
                <div class="col col-12 col-sm-6 col-md-6 col-lg-4 col-xl-4 col-xxl-3">
                    <label for="" class="form-label">Department</label>
                    <select name="department" id="" class="form-control" [(ngModel)]="department">
                        <option value="">Computer Science</option>
                        <option value="">Civil Engineering</option>
                        <option value="">Mechanical Engineering</option>
                        <option value="">Electrical Engineering</option>
                    </select>
                </div>
                <div class="col col-12 col-sm-6 col-md-6 col-lg-4 col-xl-4 col-xxl-3">
                    <label for="" class="form-label">Blood Group</label>
                    <select name="bloodGroup" id="" class="form-control"[(ngModel)]="bloodGroup">
                        <option value="A+ve">A+ve</option>
                        <option value="A-ve">A-ve</option>
                        <option value="B+ve">B+ve</option>
                        <option value="B-ve">B-ve</option>
                        <option value="O+ve">O+ve</option>
                        <option value="O-ve">O-ve</option>
                    </select>
                </div>
                <div class="col col-12 col-sm-6 col-md-6 col-lg-4 col-xl-4 col-xxl-3">
                    <label for="" class="form-label">DOB</label>
                    <input type="date" class="form-control" name="dob" [(ngModel)]="dob">
                </div>
                <div class="col col-12 col-sm-6 col-md-6 col-lg-4 col-xl-4 col-xxl-3">
                    <label for="" class="form-label">Parent Name</label>
                    <input type="text" class="form-control" name="parentName" [(ngModel)]="parentName">
                </div>
                <div class="col col-12 col-sm-6 col-md-6 col-lg-4 col-xl-4 col-xxl-3">
                    <label for="" class="form-label">Parent email</label>
                    <input type="email" class="form-control" name="parentEmail" [(ngModel)]="parentEmail">
                </div>
                <div class="col col-12 col-sm-6 col-md-6 col-lg-4 col-xl-4 col-xxl-3">
                    <label for="" class="form-label">Guardian Name</label>
                    <input type="text" class="form-control" name="guardianName" [(ngModel)]="guardianName">
                </div>
                <div class="col col-12 col-sm-6 col-md-6 col-lg-4 col-xl-4 col-xxl-3">
                    <label for="" class="form-label">Guardian Address</label>
                    <input type="text" class="form-control" name="guardianAddress" [(ngModel)]="guardianAddress">
                </div>
                <div class="col col-12 col-sm-6 col-md-6 col-lg-4 col-xl-4 col-xxl-3">
                    <button class="btn btn-info">Submit</button>
                </div>
                
            </div>
        </div>
    </div>
</div>
